<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume Scanner</title>
</head>

<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCaSrNOVVq6SLebLiW42mWskTdMpA-5yXA",
            authDomain: "ocr-mlkit-shlok.firebaseapp.com",
            databaseURL: "https://ocr-mlkit-shlok.firebaseio.com",
            projectId: "ocr-mlkit-shlok",
            storageBucket: "ocr-mlkit-shlok.appspot.com",
            messagingSenderId: "441193273632",
            appId: "1:441193273632:web:cf8a3ddf63b57b7212df45"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</body>

</html>